.wrapper {
    width: 100%;
}

.container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.title {
    font-size: 40px;
    color: #FFFFFF;
}

ul {
    list-style: none;
}